img {
  width: 100px;
  height: auto;
  margin: 15px;
}
body {
  background-image: url('image-1992325528825524224 3.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
h1 {
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-shadow: 2px 2px 4px #000000;}